<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head lang="en">
            <title>Student Creation Page</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        </head>
<body>
<h1>Hello</h1>

<table>
    <thead>
    <tr>
        <th> Student ID </th>
        <th> First Name </th>
        <th> Last Name </th>
        <th> Course ID </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td colspan="2"> No Students Yet</td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.studentId}"> Student ID </span></td>
        <td><span th:text="${student.firstName}"> First Name </span></td>
        <td><span th:text="${student.lastName}"> Last Name </span></td>
        <td><span th:text="${student.courseId}"> Course ID </span></td>
    </tr>
    </tbody>
</table>

<h2>Enter a student</h2>
<form th:action="@{/addStudent}"
      th:object="${studentForm}" method="POST">
    Student ID:
    <input type="text" th:field="*{studentId}" /><br/>
    First Name:
    <input type="text" th:field="*{firstName}" /><br/>
    Last Name:
    <input type="text" th:field="*{lastName}" />
    Course ID:
    <input type="text" th:field="*{courseId}" /><br/>
    <input type="submit" value="Add Student" />
</form>
</body>
</html></title>
</head>
<body>

</body>
</html>